body {
    margin: 0px;
    padding: 0px;
}
/* body > iframe {
    min-width: 100%;
    position: fixed;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1
} */

.fixed-header {
    padding: 40px 20px 0;
    font-size: 0;
    text-align: center;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fffbf7;
    z-index: 3;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    height: 100%;
    line-height: 45px;
}
.logo {
    width:15%;
    text-align: left;
}
.logo > img {
    height: 100%;
    vertical-align: middle;
}
.navbar {
    width: 100%;
    color: #025157;
    background-color: #fffbf7;
}
.menu {
    padding: 0;
}
.menu-item {
    list-style: none;
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: red;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.actions {
    width: 25%;
    text-align: right;
    font-weight: 600;
    font-size: 14px;
}
.actions > * {
    margin: 0 10px;
}
.actions a {
    color: #67b54b
}
.actions button {
    background-color: #67b54b;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 20px;
}
.main {
    margin-top: 140px;
    padding: 10px;
    text-align: center;
}

.main h1 {
    color: #025157;
    font-weight: 900;
    font-size: 60px;
    font-family: "Alegreya", serif;
}
.texto-gris {
    color: #46484c;
}
.main form button {
    color: #fff;
    background-color: #025157;
    height: 47px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
}
.main form input {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 45px;
    margin-right: -5px;
    border: 1px solid #c6c6c6;
    padding: 0 5px;
}
.main .grey-text {
    color: #a6a6a6;
    margin-bottom: 5px;
}
.main .banner {
    margin-top: 25px;
    text-align: center;
}
.main .second-image {
    width: 70%;
}
.video-publish {
    display: flex;
    flex: 1;
    max-width: 70%;
    margin: 100px auto;
    align-items: center;
}
.video-publish div {
    text-align: center;
    flex: 1;
}
.video-publish div iframe {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
.video-publish div img {
    width: 120px;
    height: 40px;
}
.publish {
    flex: 1;
}
.publish h3{
    color: #025157;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    font-family: "Alegreya", serif;
}
.publish > p{
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}
.publish div p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}
.publish form button {
    color: #fff;
    background-color: #025157;
    height: 47px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
}
.publish div form input {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 45px;
    margin-right: -5px;
    border: 1px solid #c6c6c6;
    padding: 0 5px;
}
.UwU {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 330px);
    font-family: 'Open Sans', sans-serif;
    background-color: #025157;
    padding: 5% 10%;
}
.UwU-tarjeta {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    width: 492px;
    height: 298px;
}
.UwU .UwU-tarjeta .UwU-content {
    flex: 2;
    padding: 30px 20px 40px 40px;
}
.UwU .UwU-tarjeta .UwU-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
}
.UwU .UwU-tarjeta .UwU-content figure {
    margin-left: 0;
}
.UwU .UwU-tarjeta .UwU-content img {
    width: 50px;
}
.UwU .UwU-tarjeta .UwU-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}
.UwU .UwU-tarjeta .UwU-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}
.UwU .UwU-tarjeta .UwU-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}
.UwU .UwU-tarjeta .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
    transition: right .5s;
}
.UwU .UwU-tarjeta .feature-image:hover {
    right: 0px;
}
.UwU .UwU-tarjeta .feature-image img {
    margin-top: 0;
    height: 240px;
}
.UwU-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
}
.UwU-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}
.UwU-content {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}
.feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
}
.navbar-toggler {
    display: none;
}
iframe {
    width: 428px;
    height:240px;
}

.success-stories {
    background-color: #a1d683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.success-stories .overview h2 {
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
}
.success-stories .overview p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.success-stories .overview button {
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
    background-color: #025157;
    color: #fffbf7;
}
.success-stories .overview img {
    width: 500px;
    max-width: 100%;
}
.success-stories .stories-carousel .card {
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}
.success-stories .stories-carousel .card .card-media {
    position: relative;
}
.success-stories .stories-carousel .card .card-media figure {
    margin-top: 0;
}
.success-stories .stories-carousel .card .card-media .company {
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.success-stories .stories-carousel .card .card-media .company img {
    max-width: 75%;
}
.success-stories .stories-carousel .card .card-body h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}
.success-stories .stories-carousel .card .card-body h4 {
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
}
.success-stories .stories-carousel .card .card-body .results {
    display: flex;
    align-items: center;
    color: #828282;
}
.success-stories .stories-carousel .card .card-body .results img {
    width: 26px;
    margin-right: 20px;
}
.carousel {
    position: relative;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.how-does-it-work {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    background-color: #fffbf7;
    padding: 5% 10%;
    text-align: center;
}
.how-does-it-work .steps {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;    
}
.how-does-it-work .title {
    color: #025157;
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    font-family: "Alegreya", serif;
    margin-bottom: 8px;
}
.how-does-it-work .steps .card-step {
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}
.how-does-it-work .steps .card-step .card-step-image {
    position: relative;
    height: 350px;
}
.how-does-it-work .steps .card-step .card-step-image .card-step-bg {
    width: 100%;
    height: 100%;
}
.how-does-it-work .steps .card-step .card-step-image .card-step-icon {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 21px;
}
.how-does-it-work .steps .card-step .card-step-body {
    padding: 25px;
}
.how-does-it-work .steps .card-step .card-step-body h3 {
    font-size: 30px;
    line-height: 36px;
    font-family: "Alegreya", serif;
    color: #025157;
    font-weight: 400;
    text-align: center;
}
.how-does-it-work .steps .card-step .card-step-body p {
    font-size: 15px;
    line-height: 1.5;
    color: #46484c;
    font-weight: 400;
    height: 85px;
    margin-bottom: 16px;
}
.how-does-it-work .steps .card-step .card-step-body a {
    font-size: 16px;
    text-decoration: none;
    color: green;
    padding-top: 5px;
}
.how-does-it-work button {
    background-color: #67b54b;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 20px;
}
.logo {
    width: 20%;
    text-align: left;
}
.logo > img {
    height: 100%;
}
.navbar {
    color: #025157;
    font-weight: 500;
}
.normal {
    display: none;
}
.success-stories .stories-carousel .carousel-indicators {
    position: initial; /** ó: position: static; */
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0 auto;
    /* list-style: none; */
}
.success-stories .stories-carousel .card {
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    height: 565px;
    color : #025157;
    position: relative;
}
.success-stories .stories-carousel .card .everly {
    background-image: url('https://getmatcha.com/wp-content/uploads/2019/05/profile-headshot-square.png');
    height: 275px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.success-stories .stories-carousel .card .card-circle-everly {
    position: absolute;
    bottom: 255px;
    right: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f9da73;
    background-image: url('https://getmatcha.com/wp-content/uploads/2019/05/everly_logo_blue_v3_x60@2x.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px;
    border: 5px solid #f9da73;
}
.card-container {
    background-color: #a1d683;
    padding: 35px;
}
.comments {
    text-align: left;
}
.comments h1 {
    color: #025157;
    font-weight: bold;
    text-align: left;
    font-family: "Alegreya", serif;
    font-weight: 700;
    font-size: 51px;
    line-height: 61px;
    letter-spacing: -2px;
    color: #025157;
}
.comments .btn-beefy {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    padding-top: 12px;
    text-align: center;
    color: #fff;
    background: #025157;
    border-radius: 8px;
    height: 45px;
    width: 166px;
    transition: all .2s ease-in-out;
}
.comments .btn-beefy:hover {
    background-color: #67b54b;
    color: #fff;
}
.comments img {
    width: 450px;
    margin-top: 40px;
    padding-right: 10px;
}
.header h5 {
    color: #025157;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.header .platforms .btn-group {
    padding: 4px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.header .platforms .btn-group button {
    background-color: transparent;
    color: #4b4b4b;
    width: 160px;
    height: 40px;
    font-size: 15px;
    line-height: 1;
    border: none;
}
.header .platforms .btn-group button.active {
    background-color: white;
    color: #67b54b;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}
.header .platforms .btn-group button > img {
    margin-right: 5px;
}
.faq button {
    font-family:'Alegreya', sans-serif;
    color:#025157;
}
.faq button:hover {
    color:#025157;
    text-decoration: none;
}
.faq button:focus {
    outline: hidden;
}
@media (max-width:768px) {
    .navbar-toggler {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem;
    }
    .normal{
        display: block;
    }
    .navbar-toggler-icon {
        display: block;
    }
    .actions{
        display: none;
        position: absolute;
    }
    .logo {
        display: revert;
    }
    .menu {
        position: absolute;
    }
    .main {
        margin-top: 91px;
    }
    .main h1 {
        font-size: 35px;
        margin-top: 0;
    }
    .feature-image {
        display: block;
        position: relative;
    }
    .main .banner {
        margin-top: 0;
    }
    .main .banner > img{
        width: 100%;
        padding: 5px;
    }
    .second-image {
        display: none;
        width: 0;
    }
    
    .video-publish {
        margin: 0 auto;
    }
    .video-publish .publish > h3 {
        font-size: 20px;
        line-height: 25px;
    }
    .video-publish .publish .formulario > .signup-form {
        margin-bottom: 10px;
    }
    .video-publish div iframe {
        width: 100%;
    }
    .video-publish {
        flex-direction: column;
    }
    .UwU {
        grid-template-rows: repeat(4, 330px);
        grid-template-columns: 1fr;
        padding: 0;
    }
    .UwU-tarjeta {
        width: 90%;
    }
    .UwU .UwU-tarjeta .feature-image {
        display: none;
    }
    .how-does-it-work .steps {
        display: grid;
        
    }
    .how-does-it-work .title {
        font-size: 30px;
    }
    .card-step-image:first-child{
        width: 100%;
    }
    .how-does-it-work .steps {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }
}