* {
    background-color: #fffbf7;
}
.cabecera {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
}
.cabecera > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.img {
    width: 15%;
    height: 100%;
}  
.barra {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}  
.interaccion {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}
h1 {
    color: #025157;
}
form input{
    margin: 0;
    display: inline-block;
}
form button {
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px 20px;
    margin-left: -10px;
}
#textodebajo {
    color:  #46484c;
}
#promocional {
    color: #8b8b8bcc

}