body {
    margin: 0px;
    padding: 0px;
}
/* body > iframe {
    min-width: 100%;
    position: fixed;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1
} */

.fixed-header {
    padding: 40px 20px 0;
    font-size: 0;
    text-align: center;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fffbf7;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    height: 100%;
    line-height: 45px;
}
.logo {
    width:20%;
    text-align: left;
}
.logo > img {
    height: 100%;
    vertical-align: middle;
}
.navbar {
    width: 50%;
    color: #025157;

}
.menu {
    padding: 0;
}
.menu-item {
    list-style: none;
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: red;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.actions {
    width: 15%;
    text-align: right;
}
.actions > * {
    margin: 0 10px;
}
.actions a {
    color: #67b54b
}
.actions button {
    background-color: #67b54b;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 20px;
}
.main {
    margin-top: 140px;
    padding: 10px;
    text-align: center;
}

.main h1 {
    color: #025157;
    font-weight: 900;
    font-size: 60px;
    font-family: "Alegreya", serif;
}
.texto-gris {
    color: #46484c;
}
.main form button {
    color: #fff;
    background-color: #025157;
    height: 47px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
}
.main form input {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 45px;
    margin-right: -5px;
    border: 1px solid #c6c6c6;
    padding: 0 5px;
}
.main .grey-text {
    color: #a6a6a6;
    margin-bottom: 5px;
}
.main .banner {
    margin-top: 25px;
    text-align: center;
}
.main .second-image {
    width: 70%;
}
.video-publish {
    display: flex;
    flex: 1;
    max-width: 70%;
    margin: 100px auto;
    align-items: center;
}
.video-publish div {
    text-align: center;
    flex: 1;
}
.video-publish div iframe {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
.video-publish div img {
    width: 120px;
    height: 40px;
}
.publish {
    flex: 1;
}
.publish h3{
    color: #025157;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    font-family: "Alegreya", serif;
}
.publish > p{
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}
.publish div p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}
.publish form button {
    color: #fff;
    background-color: #025157;
    height: 47px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
}
.publish div form input {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 45px;
    margin-right: -5px;
    border: 1px solid #c6c6c6;
    padding: 0 5px;
}
.UwU {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 330px);
    font-family: 'Open Sans', sans-serif;
    background-color: #025157;
    padding: 5% 10%;
}
.UwU-tarjeta {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    width: 492px;
    height: 298px;
}
.UwU .UwU-tarjeta .UwU-content {
    flex: 2;
    padding: 30px 20px 40px 40px;
}
.UwU .UwU-tarjeta .UwU-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
}
.UwU .UwU-tarjeta .UwU-content figure {
    margin-left: 0;
}
.UwU .UwU-tarjeta .UwU-content img {
    width: 50px;
}
.UwU .UwU-tarjeta .UwU-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}
.UwU .UwU-tarjeta .UwU-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}
.UwU .UwU-tarjeta .UwU-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}
.UwU .UwU-tarjeta .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
    transition: right .5s;
}
.UwU .UwU-tarjeta .feature-image:hover {
    right: 0px;
}
.UwU .UwU-tarjeta .feature-image img {
    margin-top: 0;
    height: 240px;
}
.UwU-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
}
.UwU-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}
.UwU-content {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}
.feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
}

